.group-main .nav-pills-soft .nav-link.active,
.group-main .nav .nav-item .nav-link.active {
  /* background-color: rgba(var(--bs-primary-rgb), 0.1); */
  background: var(--bs-info);
  color: var(--bs-primary);
}
.group-main .nav-link{
    color: #fff;
}

/* .group-main .nav-link:hover, .nav-link:focus {
   
    background: var(--bs-info);
  color: var(--bs-primary);
} */
.group-main .group-member-img img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  object-fit: cover;
}
.group-main .group-member-item-1 {
  margin-right: -0.8rem;
  z-index: 1;
}


.group-main .story-img {
  outline: 4px solid #eee;
  outline-offset: -4px;
  border-radius: 50%;
  height: 90px;
}

/*like button css*/
.like-icon {
  transition: color 0.3s;
  cursor: pointer;
}

.like-icon.liked {
  color: blue;
}




#like-button {
  display: inline-block;
  cursor: pointer;
}

#like-button i {
  color: blue;
  transition: color 0.3s;
}
/* Add any desired styles to the like count element */
#likeCount {
  margin-top: 10px;
  font-weight: bold;
}


#popupContainer {
  position: relative;
}

#popup {
position: absolute;
    left: 50%;
    transform: translateX(-30%);
    background-color: #fff;
    bottom: 30px;
    border-radius: 8px;
}

.hidden {
  display: none;
}

.reaction {
  cursor: pointer;
  margin-right: 10px;
}

.reaction-popup
{
  padding: 10px;
      border-radius: 8px;
}